<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div id="playlist" >
                <h1>Playlist</h1>
                <table id="playlistTable" style="margin-bottom: 50px;">

                </table>
            </div>
            <div id="input">
                Enter Song Title: <input type="text" id="song" />
                <button id="submit_button"  style="margin-bottom: 50px;">Submit</button>
            </div>
            <div class="searchResults">
                <h2 id="searchResultsTitle"></h2>
                <table id="resultTable">

                </table>
            </div>
            
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>
